@import '~/assets/styles/_mixins.scss';
@import '~/assets/styles/_vars.scss';

[data-ct-widget='table-of-contents'] {
  counter-reset: table-of-contents;
  margin-bottom: 2rem;
  a {
    @include section-title(16px, 600, 21.6px);
    width: fit-content;
    counter-increment: table-of-contents;
    display: block;
    &:not(:last-child) {
      margin-bottom: 1.1rem;
    }
    &:before {
      content: counter(table-of-contents) '. ';
    }
  }
  &:after {
    counter-reset: content-block;
  }
}
[data-ct-widget='explained-block'] {
  counter-increment: content-block;
  background: white;
  border: 1px solid #627f8c59;
  border-radius: 8px;
  padding: 16px;
  @media (min-width: $sm) {
    padding: 24px;
  }
  @media (min-width: $md) {
    padding: 32px;
  }
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &:before {
    @include section-title(23px, 600, 28px);
    content: counter(content-block);
    display: block;
    background-color: $color-orange-500;
    border-radius: 5px;
    vertical-align: center;
    width: fit-content;
    padding: 6px 14px;
    margin-bottom: 8px;
    transform: translateY(5px);

    @media (min-width: $sm) {
      position: absolute;
    }
  }
}

[data-ct-widget='explained-block-title'] {
  // important because of PostContent styles
  font-size: 23px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;

  @media (min-width: $sm) {
    margin-left: 56px !important;
  }

  @media (min-width: $md) {
    font-size: 28px !important;
  }
}
