node_modules
.git
.husky
.run
.nuxt
.eslintcache
README.md
TODO.md
schema.graphql
webpack.config.js
sonar-project.properties
summary.html
tests
.gitlab-ci.yml
.gitignore
.tool-versions
.graphqlconfig
.eslintrc.js
.eslintignore
.env.example
Dockerfile
.dockerignore
docs
vault

.idea
.vscode
